// Враппер для мобильного меню
.menu {
  @include df-tablet {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    transition: 0.5s all ease;
    pointer-events: none;
  }

  &--active {
    @include df-tablet {
      z-index: 10;

      overflow-y: auto;

      background-color: rgba($color: $black, $alpha: 0.7);
      pointer-events: auto;

      // Возвращаем меню
      & .menu__list {
        transform: translateX(0);
      }

      // Анимация кнопки "Закрыть"
      & .menu__icon {
        opacity: 1;
        transform: rotate(0);
      }
    }
  }
}

// Основное меню
.menu__list {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  transition: 1s transform ease;

  // Выезжающее меню при меньшем чем 768 разрешении
  @include df-tablet {
    position: absolute;
    top: 0;
    left: 0;

    justify-content: center;
    flex-direction: column;
    min-width: 35vw;
    height: 100%;

    padding: 15px;

    background-color: $main-color;

    transform: translateX(-135%);
  }
}

// Ссылка меню
.menu__link {
  display: inline-block;
  padding: 5px 12px 5px;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;

  border-radius: 20px;

  transition: $animate-short;

  &:hover,
  &:focus {
    background-color: darken($main-color, 5%);
  }

  @include df-tablet {
    margin-bottom: 25px;

    padding-left: 10px;
    padding-right: 10px;
  }

  &--contrast {
    color: #d60505;
  }
}

// Кнопка "Закрыть меню"
// .menu__btn--close {
//   position: absolute;
//   right: -50px;

//   display: none;

//   @include df-tablet {
//     display: block;
//   }
// }

// Иконка "Крестик"
// .menu__icon {
//   fill: $white;
//   opacity: 0;
//   transform: rotate(180deg);
//   transition: 0.2s all ease;
//   transition-delay: 0.6s;
// }
