.organizer {
}

.organizer__container {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
}

.organizer__title {
  margin-bottom: 100px;
}

.organizer__logo {
  display: block;
  margin: 0 auto 80px;
}
.organizer__description {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}
