.road-parallax {
  position: absolute;
  top: 0 ;
  left: 0;
  width: 100%;
  height: 100%;
  // transform: translate(-50%, -50%);
  overflow: hidden;
}

.road-parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
}

// Красный
.road-parallax__layer-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1695px' height='1046px'%3E%3Cpath fill-rule='evenodd' fill='rgb(98, 197, 67)' d='M1682.817,245.208 L1654.487,236.970 L1694.019,224.093 L1682.817,245.208 ZM1462.120,265.499 L1493.857,312.104 L1447.821,361.335 L1462.120,265.499 ZM1288.001,99.913 L1461.991,56.001 L1421.342,157.000 L1288.001,99.913 ZM1178.559,309.909 L1203.121,350.174 L1148.328,328.298 L1178.559,309.909 ZM783.312,276.178 L1012.176,393.361 L869.453,434.022 L783.312,276.178 ZM525.487,1036.970 L565.019,1024.094 L553.817,1045.208 L525.487,1036.970 ZM502.487,759.970 L542.019,747.094 L530.817,768.208 L502.487,759.970 ZM378.698,4.939 L409.076,0.656 L402.174,16.546 L378.698,4.939 ZM0.404,87.193 L39.936,74.318 L28.735,95.431 L0.404,87.193 Z'/%3E%3C/svg%3E");}

// Синий
.road-parallax__layer-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1569px' height='1334px'%3E%3Cpath fill-rule='evenodd' fill='rgb(224, 36, 27)' d='M1526.825,534.241 L1549.943,520.265 L1568.726,550.866 L1526.825,534.241 ZM1385.218,55.510 L1424.750,42.635 L1413.548,63.748 L1385.218,55.510 ZM1212.972,406.001 L1231.755,436.602 L1189.854,419.976 L1212.972,406.001 ZM1027.972,1303.002 L1046.755,1333.601 L1004.854,1316.976 L1027.972,1303.002 ZM826.390,0.073 L845.172,30.673 L803.272,14.048 L826.390,0.073 ZM648.920,558.841 L688.452,545.964 L677.251,567.079 L648.920,558.841 ZM202.972,1202.001 L221.755,1232.602 L179.854,1215.976 L202.972,1202.001 ZM127.913,320.563 L146.696,351.164 L104.795,334.538 L127.913,320.563 ZM40.726,10.008 L73.020,63.020 L0.977,34.218 L40.726,10.008 Z'/%3E%3C/svg%3E");}

// Зеленый
.road-parallax__layer-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1725px' height='1475px'%3E%3Cpath fill-rule='evenodd' fill='rgb(67, 168, 246)' d='M1717.140,196.524 L1693.663,184.918 L1724.042,180.635 L1717.140,196.524 ZM1640.485,4.542 L1670.863,0.258 L1663.962,16.148 L1640.485,4.542 ZM1581.951,902.883 L1612.330,898.600 L1605.428,914.490 L1581.951,902.883 ZM1423.986,361.237 L1442.768,391.838 L1400.867,375.213 L1423.986,361.237 ZM1369.756,539.229 L1400.135,534.945 L1393.233,550.835 L1369.756,539.229 ZM1372.233,1157.835 L1348.756,1146.229 L1379.135,1141.946 L1372.233,1157.835 ZM1269.035,123.639 L1315.879,155.247 L1286.432,169.234 L1269.035,123.639 ZM561.362,88.130 L591.740,83.847 L584.839,99.736 L561.362,88.130 ZM577.379,775.581 L553.902,763.974 L584.281,759.692 L577.379,775.581 ZM500.951,1462.882 L531.330,1458.600 L524.428,1474.490 L500.951,1462.882 ZM422.452,280.735 L469.296,312.345 L439.850,326.331 L422.452,280.735 ZM273.951,200.883 L304.330,196.600 L297.428,212.489 L273.951,200.883 ZM189.124,338.592 L235.968,370.201 L206.521,384.189 L189.124,338.592 ZM212.428,996.490 L188.951,984.883 L219.330,980.600 L212.428,996.490 ZM0.000,204.244 L30.379,199.961 L23.477,215.850 L0.000,204.244 ZM1301.379,634.581 L1277.902,622.975 L1308.281,618.692 L1301.379,634.581 Z'/%3E%3C/svg%3E");}
