.title-parallax {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 150%;
  // transform: translate(-50%, -50%);

  @include df-tablet {
    overflow: hidden;
  }
}

.title-parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

// Красный
.title-parallax__layer-1 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='865px' height='406px'%3E%3Cpath fill-rule='evenodd' fill='rgb(224, 36, 27)' d='M838.994,395.678 L853.340,387.000 L864.995,406.001 L838.994,395.678 ZM568.990,182.816 L757.995,134.975 L713.837,245.012 L568.990,182.816 ZM629.340,0.000 L640.995,19.001 L614.994,8.678 L629.340,0.000 ZM437.788,64.174 L494.810,103.272 L429.994,184.236 L437.788,64.174 ZM404.340,64.000 L415.995,83.001 L389.994,72.678 L404.340,64.000 ZM216.340,368.001 L227.995,387.001 L201.994,376.678 L216.340,368.001 ZM150.689,281.783 L176.801,325.316 L118.548,301.664 L150.689,281.783 ZM120.752,126.001 L135.993,151.002 L101.992,137.418 L120.752,126.001 ZM90.339,17.000 L101.995,36.001 L75.994,25.677 L90.339,17.000 ZM112.003,244.997 L35.003,226.860 L102.528,199.999 L112.003,244.997 ZM14.340,263.001 L25.995,282.001 L-0.006,271.678 L14.340,263.001 Z'/%3E%3C/svg%3E");
}

// Синий
.title-parallax__layer-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1071px' height='417px'%3E%3Cpath fill-rule='evenodd' fill='rgb(67, 168, 246)' d='M1066.256,122.726 L1051.688,115.519 L1070.539,112.860 L1066.256,122.726 ZM1018.688,3.520 L1037.539,0.860 L1033.256,10.726 L1018.688,3.520 ZM896.185,387.470 L925.254,407.096 L906.981,415.782 L896.185,387.470 ZM752.986,201.989 L895.007,274.751 L806.440,299.998 L752.986,201.989 ZM863.688,207.520 L882.539,204.860 L878.256,214.726 L863.688,207.520 ZM788.185,77.470 L817.254,97.096 L798.981,105.782 L788.185,77.470 ZM563.185,10.470 L592.254,30.097 L573.981,38.781 L563.185,10.470 ZM380.688,40.519 L399.539,37.860 L395.256,47.726 L380.688,40.519 ZM376.981,148.781 L366.185,120.470 L395.254,140.096 L376.981,148.781 ZM152.006,98.997 L303.989,165.170 L212.966,197.006 L152.006,98.997 ZM235.688,79.519 L254.539,76.860 L250.256,86.726 L235.688,79.519 ZM166.256,416.726 L151.688,409.519 L170.539,406.860 L166.256,416.726 ZM0.688,127.520 L19.539,124.860 L15.256,134.726 L0.688,127.520 ZM185.256,271.726 L170.688,264.519 L189.539,261.861 L185.256,271.726 ZM283.981,272.782 L273.185,244.470 L302.254,264.097 L283.981,272.782 ZM301.999,344.393 L282.998,367.995 L285.283,332.996 L301.999,344.393 ZM808.256,394.726 L793.688,387.519 L812.539,384.860 L808.256,394.726 ZM865.256,342.726 L850.688,335.519 L869.539,332.860 L865.256,342.726 Z'/%3E%3C/svg%3E");
}

// Зеленый
.title-parallax__layer-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1008px' height='341px'%3E%3Cpath fill-rule='evenodd' fill='rgb(55, 187, 15)' d='M1000.811,219.610 L983.230,214.495 L1007.762,206.499 L1000.811,219.610 ZM863.857,232.209 L883.551,261.147 L854.984,291.716 L863.857,232.209 ZM855.230,56.495 L879.762,48.500 L872.811,61.609 L855.230,56.495 ZM802.340,201.001 L813.995,220.001 L787.994,209.678 L802.340,201.001 ZM707.752,284.000 L722.993,309.002 L688.992,295.419 L707.752,284.000 ZM648.230,8.495 L672.762,0.500 L665.811,13.609 L648.230,8.495 ZM498.230,335.495 L522.762,327.499 L515.811,340.610 L498.230,335.495 ZM415.506,4.085 L462.861,84.290 L374.452,165.895 L415.506,4.085 ZM112.399,312.115 L160.487,276.755 L154.321,311.168 L112.399,312.115 ZM0.230,121.494 L24.762,113.500 L17.811,126.610 L0.230,121.494 Z'/%3E%3C/svg%3E");
}
