@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url('../fonts/GothamPro-Light.woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('../fonts/GothamPro-Medium.woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('../fonts/GothamPro-Bold.woff2');
}

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('../fonts/GothamPro-Black.woff2');
}
